Repository refinedev/refine, pull requests merged in 2023-03, with the labels that each got.

#3700 build: chunked examples CI
  .github/workflows/build-example-chunks.js
  .github/workflows/examples-build.yml
Labels: build examples

#3663 chore(v4-codemod): move to new org transformation
  .changeset/bright-cobras-ring.md
  packages/codemod/src/helpers/index.ts
  packages/codemod/src/helpers/removePackage.ts
  packages/codemod/src/index.ts
  packages/codemod/src/transformations/move-to-new-org.ts
Labels: v4

#3711 docs(blog): add react admin chakra tutorial
  documentation/blog/2023-03-03-ra-chakra-tutorial.md
  examples/blog-ra-chakra-tutorial/.gitignore
  examples/blog-ra-chakra-tutorial/.npmrc
  examples/blog-ra-chakra-tutorial/README.MD
  examples/blog-ra-chakra-tutorial/package.json
  examples/blog-ra-chakra-tutorial/public/favicon.ico
  examples/blog-ra-chakra-tutorial/public/index.html
  examples/blog-ra-chakra-tutorial/public/refine-collapsed.svg
  examples/blog-ra-chakra-tutorial/public/refine.svg
  examples/blog-ra-chakra-tutorial/src/App.tsx
  examples/blog-ra-chakra-tutorial/src/authProvider.ts
  examples/blog-ra-chakra-tutorial/src/components/ColumnFilter.tsx
  examples/blog-ra-chakra-tutorial/src/components/ColumnSorter.tsx
  examples/blog-ra-chakra-tutorial/src/components/layout/header/index.tsx
  examples/blog-ra-chakra-tutorial/src/components/layout/index.ts
  examples/blog-ra-chakra-tutorial/src/constants.ts
  examples/blog-ra-chakra-tutorial/src/index.tsx
  examples/blog-ra-chakra-tutorial/src/interfaces/index.d.ts
  examples/blog-ra-chakra-tutorial/src/meta.json
  examples/blog-ra-chakra-tutorial/src/pages/posts/create.tsx
  examples/blog-ra-chakra-tutorial/src/pages/posts/edit.tsx
  examples/blog-ra-chakra-tutorial/src/pages/posts/index.tsx
  examples/blog-ra-chakra-tutorial/src/pages/posts/list.tsx
  examples/blog-ra-chakra-tutorial/src/pages/posts/show.tsx
  examples/blog-ra-chakra-tutorial/src/react-app-env.d.ts
  examples/blog-ra-chakra-tutorial/src/reportWebVitals.ts
  examples/blog-ra-chakra-tutorial/src/setupTests.ts
  examples/blog-ra-chakra-tutorial/tsconfig.json
  examples/blog-ra-chakra-tutorial/yarn.lock
Labels: build examples

#3688 docs(v4): update changesets
  .changeset/beige-mails-walk.md
  .changeset/blue-mails-end.md
  .changeset/chilly-bobcats-rhyme.md
  .changeset/clever-beans-pretend.md
  .changeset/curly-countries-beam.md
  .changeset/cyan-monkeys-sniff.md
  .changeset/early-bananas-reflect.md
  .changeset/early-buttons-ring.md
  .changeset/early-kings-add.md
  .changeset/early-pigs-decide.md
  .changeset/eight-numbers-repeat.md
  .changeset/eighty-pianos-itch.md
  .changeset/eighty-walls-protect.md
  .changeset/empty-chairs-bake.md
  .changeset/fast-owls-stare.md
  .changeset/friendly-actors-hear.md
  .changeset/gorgeous-yaks-join.md
  .changeset/great-cooks-sell.md
  .changeset/great-moose-jump.md
  .changeset/hip-waves-share.md
  .changeset/lazy-crews-poke.md
  .changeset/many-lobsters-laugh.md
  .changeset/mean-kangaroos-press.md
  .changeset/metal-comics-watch.md
  .changeset/modern-socks-kiss.md
  .changeset/nasty-worms-drive.md
  .changeset/olive-ants-remain.md
  .changeset/orange-tools-obey.md
  .changeset/poor-kids-live.md
  .changeset/pretty-moose-whisper.md
  .changeset/silent-baboons-refuse.md
  .changeset/silver-starfishes-carry.md
  .changeset/slow-readers-wait.md
  .changeset/slow-wasps-remain.md
  .changeset/small-carrots-watch.md
  .changeset/small-islands-help.md
  .changeset/smooth-deers-help.md
  .changeset/strange-cats-sort.md
  .changeset/strange-knives-end.md
  .changeset/swift-cycles-marry.md
  .changeset/tall-crews-poke.md
  .changeset/tender-planes-sleep.md
  .changeset/thin-mugs-cough.md
  .changeset/tidy-actors-grow.md
  .changeset/tiny-crabs-drop.md
  .changeset/unlucky-rockets-study.md
  .changeset/violet-geckos-film.md
  .changeset/warm-scissors-trade.md
  .changeset/young-pears-dream.md
Labels: v4

#3666 feat(v4-docs): update auth provider docs
  documentation/blog/2022-02-22-refine-invoice-genarator.md
  documentation/blog/2022-03-22-refine-with-react95.md
  documentation/blog/2022-09-22-refine-supabase-auth.md
  documentation/blog/2023-01-23-redwood-vs-refine.md
  documentation/blog/2023-02-23-refine-strapi-mantine.md
  documentation/docs/advanced-tutorials/auth/auth0.md
  documentation/docs/advanced-tutorials/auth/azure-ad.md
  documentation/docs/advanced-tutorials/custom-pages.md
  documentation/docs/advanced-tutorials/data-provider/appwrite.md
  documentation/docs/advanced-tutorials/data-provider/supabase.md
  documentation/docs/advanced-tutorials/multi-tenancy/strapi.md
  documentation/docs/advanced-tutorials/ssr/remix.md
  documentation/docs/advanced-tutorials/web3/ethereum-signin.md
  documentation/docs/api-reference/antd/components/auth-page.md
  documentation/docs/api-reference/antd/components/basic-views/edit.md
  documentation/docs/api-reference/antd/components/basic-views/list.md
  documentation/docs/api-reference/antd/components/basic-views/show.md
  documentation/docs/api-reference/chakra-ui/components/auth-page.md
  documentation/docs/api-reference/chakra-ui/components/basic-views/edit.md
  documentation/docs/api-reference/chakra-ui/components/basic-views/list.md
  documentation/docs/api-reference/chakra-ui/components/basic-views/show.md
  documentation/docs/api-reference/core/components/auth-page.md
  documentation/docs/api-reference/core/components/auth/authenticated.md
  documentation/docs/api-reference/core/hooks/auth/useAuthenticated.md
  documentation/docs/api-reference/core/hooks/auth/useCheckError.md
  documentation/docs/api-reference/core/hooks/auth/useForgotPassword.md
  documentation/docs/api-reference/core/hooks/auth/useGetIdentity.md
  documentation/docs/api-reference/core/hooks/auth/useIsAuthenticated.md
  documentation/docs/api-reference/core/hooks/auth/useLogin.md
  documentation/docs/api-reference/core/hooks/auth/useLogout.md
  documentation/docs/api-reference/core/hooks/auth/useOnError.md
  documentation/docs/api-reference/core/hooks/auth/usePermissions.md
  documentation/docs/api-reference/core/hooks/auth/useRegister.md
  documentation/docs/api-reference/core/hooks/auth/useUpdatePassword.md
  documentation/docs/api-reference/core/providers/auth-provider.md
  documentation/docs/api-reference/mantine/components/auth-page.md
  documentation/docs/api-reference/mantine/components/basic-views/edit.md
  documentation/docs/api-reference/mantine/components/basic-views/list.md
  documentation/docs/api-reference/mantine/components/basic-views/show.md
  documentation/docs/api-reference/mui/components/auth-page.md
  documentation/docs/api-reference/mui/components/basic-views/edit.md
  documentation/docs/api-reference/mui/components/basic-views/list.md
  documentation/docs/api-reference/mui/components/basic-views/show.md
  documentation/docs/tutorial/5-understanding-authprovider/0-intro.md
  documentation/docs/tutorial/5-understanding-authprovider/1-create-authprovider.md
  documentation/docs/tutorial/5-understanding-authprovider/antd/2-auth-pages.md
  documentation/docs/tutorial/5-understanding-authprovider/chakra-ui/2-auth-pages.md
  documentation/docs/tutorial/5-understanding-authprovider/headless/2-auth-pages.md
  documentation/docs/tutorial/5-understanding-authprovider/mantine/2-auth-pages.md
  documentation/docs/tutorial/5-understanding-authprovider/mui/2-auth-pages.md
  documentation/redirects.json
  documentation/sidebars.js
Labels: v4

#3728 fix(v4): update swizzle based on v4
  packages/antd/refine.config.js
  packages/chakra-ui/refine.config.js
  packages/core/refine.config.js
  packages/core/src/components/pages/error/index.tsx
  packages/mantine/refine.config.js
  packages/mantine/src/components/pages/error/index.tsx
  packages/mui/refine.config.js
Labels: v4

#3735 feat(v4-examples): migrate router provider examples starts with "a"
  examples/access-control-casbin/src/App.tsx
  examples/access-control-cerbos/src/App.tsx
  examples/antd-audit-log/src/App.tsx
  examples/audit-log-provider/src/App.tsx
  examples/auth-antd/src/App.tsx
  examples/auth-auth0/src/App.tsx
  examples/auth-chakra-ui/src/App.tsx
  examples/auth-google-login/src/App.tsx
  examples/auth-headless/src/App.tsx
  examples/auth-keycloak/src/App.tsx
  examples/auth-mantine/src/App.tsx
  examples/auth-mui/src/App.tsx
  examples/auth-otp/src/App.tsx
Labels: build examples, v4

#3736 fix(v4): Migrate data provider examples to new router
  examples/data-provider-airtable/src/App.tsx
  examples/data-provider-appwrite/src/App.tsx
  examples/data-provider-appwrite/src/pages/posts/create.tsx
  examples/data-provider-appwrite/src/pages/posts/edit.tsx
  examples/data-provider-appwrite/src/pages/posts/list.tsx
  examples/data-provider-appwrite/src/pages/posts/show.tsx
  examples/data-provider-hasura/src/App.tsx
  examples/data-provider-hasura/src/pages/categories/create.tsx
  examples/data-provider-hasura/src/pages/categories/edit.tsx
  examples/data-provider-hasura/src/pages/categories/list.tsx
  examples/data-provider-multiple/src/App.tsx
  examples/data-provider-nestjsx-crud/src/App.tsx
  examples/data-provider-nhost/src/App.tsx
  examples/data-provider-nhost/src/pages/categories/create.tsx
  examples/data-provider-nhost/src/pages/categories/edit.tsx
  examples/data-provider-nhost/src/pages/categories/list.tsx
  examples/data-provider-strapi-graphql/src/App.tsx
  examples/data-provider-strapi-v4/src/App.tsx
  examples/data-provider-strapi-v4/src/pages/users/index.ts
  examples/data-provider-strapi-v4/src/pages/users/list.tsx
  examples/data-provider-strapi/src/App.tsx
  examples/data-provider-supabase/src/App.tsx
Labels: build examples, v4

#3739 fix(v4): migrate router provider on examples that starting with "f"
  examples/field-antd-use-checkbox-group/src/App.tsx
  examples/field-antd-use-radio-group/src/App.tsx
  examples/field-antd-use-select-basic/src/App.tsx
  examples/field-antd-use-select-infinite/src/App.tsx
  examples/field-mui-use-autocomplete/src/App.tsx
  examples/field-mui-use-autocomplete/src/pages/posts/list.tsx
  examples/form-antd-custom-validation/src/App.tsx
  examples/form-antd-use-drawer-form/src/App.tsx
  examples/form-antd-use-form/src/App.tsx
  examples/form-antd-use-modal-form/src/App.tsx
  examples/form-antd-use-steps-form/src/App.tsx
  examples/form-chakra-ui-use-drawer-form/src/App.tsx
  examples/form-chakra-ui-use-form/src/App.tsx
  examples/form-chakra-use-modal-antd-form/src/App.tsx
  examples/form-core-use-form/src/App.tsx
  examples/form-mantine-use-drawer-form/src/App.tsx
  examples/form-mantine-use-form/src/App.tsx
  examples/form-mantine-use-modal-form/src/App.tsx
  examples/form-mantine-use-steps-form/src/App.tsx
  examples/form-mui-use-drawer-form/src/App.tsx
  examples/form-mui-use-drawer-form/src/pages/posts/list.tsx
  examples/form-mui-use-form/src/App.tsx
  examples/form-mui-use-form/src/pages/posts/list.tsx
  examples/form-mui-use-modal-form/src/App.tsx
  examples/form-mui-use-modal-form/src/pages/posts/list.tsx
  examples/form-mui-use-steps-form/src/App.tsx
  examples/form-mui-use-steps-form/src/pages/posts/list.tsx
  examples/form-react-hook-form-use-form/src/App.tsx
  examples/form-react-hook-form-use-modal-form/src/App.tsx
  examples/form-react-hook-form-use-steps-form/src/App.tsx
  examples/form-save-and-continue/src/App.tsx
Labels: build examples, v4

#3745 feat(v4-examples): migrate router provider examples starts with "c" and "b"
  examples/base-antd/src/App.tsx
  examples/base-chakra-ui/src/App.tsx
  examples/base-mantine/src/App.tsx
  examples/base-mui/src/App.tsx
  examples/calendar-app/src/App.tsx
  examples/command-palette-kbar/src/App.tsx
  examples/command-palette-kbar/tsconfig.json
  examples/core-use-import/src/App.tsx
  examples/core-use-menu/src/App.tsx
  examples/core-use-menu/src/components/layout/index.tsx
  examples/core-use-modal/src/App.tsx
  examples/core-use-select/src/App.tsx
  examples/customization-footer/src/App.tsx
  examples/customization-login/src/App.tsx
  examples/customization-rtl/src/App.tsx
  examples/customization-sider/src/App.tsx
  examples/customization-sider/src/components/sider/index.tsx
  examples/customization-theme-antd/src/App.tsx
  examples/customization-theme-chakra-ui/src/App.tsx
  examples/customization-theme-mantine/src/App.tsx
  examples/customization-theme-mui/src/App.tsx
  examples/customization-top-menu-layout/src/App.tsx
  examples/customization-top-menu-layout/src/components/sider/index.tsx
Labels: build examples, v4

#3737 Add react dnd post
  documentation/blog/2023-03-07-react-dnd.md
  examples/blog-react-dnd/.gitignore
  examples/blog-react-dnd/.npmrc
  examples/blog-react-dnd/README.MD
  examples/blog-react-dnd/package.json
  examples/blog-react-dnd/public/favicon.ico
  examples/blog-react-dnd/public/index.html
  examples/blog-react-dnd/src/App.tsx
  examples/blog-react-dnd/src/components/cards.tsx
  examples/blog-react-dnd/src/components/columns.tsx
  examples/blog-react-dnd/src/components/constants/enums.ts
  examples/blog-react-dnd/src/components/constants/models.ts
  examples/blog-react-dnd/src/components/constants/useData.ts
  examples/blog-react-dnd/src/contexts/index.tsx
  examples/blog-react-dnd/src/index.tsx
  examples/blog-react-dnd/src/interfaces/index.d.ts
  examples/blog-react-dnd/src/meta.json
  examples/blog-react-dnd/src/pages/dashBoardPage.tsx
  examples/blog-react-dnd/src/pages/posts/create.tsx
  examples/blog-react-dnd/src/pages/posts/edit.tsx
  examples/blog-react-dnd/src/pages/posts/index.ts
  examples/blog-react-dnd/src/pages/posts/list.tsx
  examples/blog-react-dnd/src/pages/posts/show.tsx
  examples/blog-react-dnd/src/react-app-env.d.ts
  examples/blog-react-dnd/src/reportWebVitals.ts
  examples/blog-react-dnd/src/setupTests.ts
  examples/blog-react-dnd/tsconfig.json
Labels: build examples

#3746 fix(v4): migrate router provider on finefoods examples
  examples/finefoods-antd/src/App.tsx
  examples/finefoods-antd/src/components/header/index.tsx
  examples/finefoods-antd/src/pages/auth/index.tsx
  examples/finefoods-antd/src/pages/couriers/create.tsx
  examples/finefoods-antd/src/pages/couriers/edit.tsx
  examples/finefoods-client/pages/[id]/[category]/index.tsx
  examples/finefoods-client/pages/_app.tsx
  examples/finefoods-client/pages/index.tsx
  examples/finefoods-client/pages/order/[id]/index.tsx
  examples/finefoods-client/src/components/ordersModal.tsx
  examples/finefoods-mui/src/App.tsx
  examples/finefoods-mui/src/components/title/index.tsx
  examples/finefoods-mui/src/pages/auth/index.tsx
Labels: build examples, v4

#3757 fix(v4): update examples starting with "t" to migrate new router provider
  examples/table-antd-advanced/src/App.tsx
  examples/table-antd-table-filter/src/App.tsx
  examples/table-antd-use-delete-many/src/App.tsx
  examples/table-antd-use-editable-table/src/App.tsx
  examples/table-antd-use-table/src/App.tsx
  examples/table-antd-use-update-many/src/App.tsx
  examples/table-chakra-ui-advanced/src/App.tsx
  examples/table-chakra-ui-basic/src/App.tsx
  examples/table-handson/src/App.tsx
  examples/table-mantine-advanced/src/App.tsx
  examples/table-mantine-basic/src/App.tsx
  examples/table-mui-advanced/src/App.tsx
  examples/table-mui-cursor-pagination/src/App.tsx
  examples/table-mui-cursor-pagination/src/pages/posts/list.tsx
  examples/table-mui-data-grid-pro/src/App.tsx
  examples/table-mui-data-grid-pro/src/pages/posts/list.tsx
  examples/table-mui-table-filter/src/App.tsx
  examples/table-mui-table-filter/src/pages/posts/list.tsx
  examples/table-mui-use-data-grid/src/App.tsx
  examples/table-mui-use-data-grid/src/pages/posts/list.tsx
  examples/table-mui-use-delete-many/src/App.tsx
  examples/table-mui-use-delete-many/src/pages/posts/list.tsx
  examples/table-mui-use-update-many/src/App.tsx
  examples/table-mui-use-update-many/src/pages/posts/list.tsx
  examples/table-react-table-advanced/src/App.tsx
  examples/table-react-table-basic/src/App.tsx
  examples/template-antd/src/App.tsx
  examples/template-chakra-ui/src/App.tsx
  examples/template-headless/src/App.tsx
  examples/template-mantine/src/App.tsx
  examples/template-mui/src/App.tsx
  examples/tutorial-antd/src/App.tsx
  examples/tutorial-chakra-ui/src/App.tsx
  examples/tutorial-headless/src/App.tsx
  examples/tutorial-mantine/src/App.tsx
  examples/tutorial-mui/src/App.tsx
Labels: v4

#3760 fix(v4): update examples starting with "u" to migrate new router provider
  examples/upload-antd-base64/src/App.tsx
  examples/upload-antd-multipart/src/App.tsx
  examples/upload-chakra-ui-basic64/src/App.tsx
  examples/upload-chakra-ui-multipart/src/App.tsx
  examples/upload-mantine-base64/src/App.tsx
  examples/upload-mantine-multipart/src/App.tsx
  examples/upload-mui-base64/src/App.tsx
  examples/upload-mui-base64/src/pages/posts/list.tsx
  examples/upload-mui-multipart/src/App.tsx
  examples/upload-mui-multipart/src/pages/posts/list.tsx
  examples/use-infinite-list/src/App.tsx
  examples/use-modal-antd/src/App.tsx
  examples/use-simple-list-antd/src/App.tsx
Labels: v4

#3747 docs(access-control): updated broken link
  documentation/docs/advanced-tutorials/access-control.md
Labels: documentation

#3771 fix(examples): fix broken examples
  examples/antd-audit-log/src/App.tsx
  examples/auth-antd/src/App.tsx
  examples/blog-mail-subscription/src/components/header/index.tsx
  examples/blog-mail-subscription/src/components/sider/index.tsx
  examples/blog-mail-subscription/src/interfaces/index.d.ts
  examples/blog-refine-supabase-auth/src/pages/Layout.tsx
  examples/blog-refine-supabase-auth/src/pages/Login.tsx
  examples/blog-refineflix/src/components/sider/index.tsx
  examples/blog-win95/src/authProvider.ts
  examples/blog-win95/src/components/footer/index.tsx
  examples/customization-sider/src/components/sider/index.tsx
  examples/finefoods-antd/src/App.tsx
  examples/finefoods-antd/src/components/header/index.tsx
  examples/finefoods-antd/src/interfaces/index.d.ts
  examples/finefoods-mui/src/App.tsx
  examples/finefoods-mui/src/components/header/index.tsx
  examples/finefoods-mui/src/interfaces/index.d.ts
  examples/multi-tenancy-appwrite/src/components/sider/index.tsx
  examples/multi-tenancy-strapi/src/components/sider/index.tsx
  examples/pixels/src/components/canvas/create.tsx
  examples/with-cloud/src/pages/login/index.tsx
  examples/with-web3/src/pages/dashboard.tsx
Labels: build examples, v4

#3767 fix(v4-examples): remove use router context on examples
  examples/customization-offlayout-area/src/components/sider/index.tsx
  examples/pixels-admin/src/pages/auth/index.tsx
Labels: build examples

#3758 feat(v4-examples): migrate examples to new router starts with "i", "m", "l", "s"
  examples/i18n-nextjs/pages/404.tsx
  examples/i18n-nextjs/pages/_app.tsx
  examples/i18n-nextjs/pages/index.tsx
  examples/i18n-nextjs/pages/posts/create.tsx
  examples/i18n-nextjs/pages/posts/edit/[id].tsx
  examples/i18n-nextjs/pages/posts/index.tsx
  examples/i18n-nextjs/pages/posts/show/[id].tsx
  examples/i18n-nextjs/src/components/header/index.tsx
  examples/i18n-react/src/App.tsx
  examples/import-export-antd/src/App.tsx
  examples/import-export-mantine/src/App.tsx
  examples/import-export-mui/src/App.tsx
  examples/inferencer-antd/src/App.tsx
  examples/inferencer-chakra-ui/src/App.tsx
  examples/inferencer-headless/src/App.tsx
  examples/inferencer-mantine/src/App.tsx
  examples/inferencer-mui/src/App.tsx
  examples/input-custom/src/App.tsx
  examples/input-date-picker/src/App.tsx
  examples/live-provider-ably/src/App.tsx
  examples/live-provider-ably/src/components/sider/index.tsx
  examples/multi-level-menu/src/App.tsx
  examples/multi-tenancy-appwrite/src/App.tsx
  examples/multi-tenancy-appwrite/src/authProvider.ts
  examples/multi-tenancy-appwrite/src/components/sider/index.tsx
  examples/multi-tenancy-appwrite/src/pages/orders/create.tsx
  examples/multi-tenancy-strapi/src/App.tsx
  examples/multi-tenancy-strapi/src/authProvider.ts
  examples/multi-tenancy-strapi/src/components/sider/index.tsx
  examples/multi-tenancy-strapi/src/pages/order/create.tsx
  examples/mutation-mode/src/App.tsx
  examples/search/src/App.tsx
Labels: build examples, v4

#3766 feat(examples): migrate router provider examples starts with "blog"
  examples/blog-ecommerce/package.json
  examples/blog-ecommerce/pages/_app.tsx
  examples/blog-ecommerce/pages/index.tsx
  examples/blog-hackathonize/public/refine.svg
  examples/blog-hackathonize/src/App.tsx
  examples/blog-invoice-generator/src/App.tsx
  examples/blog-invoice-generator/src/authProvider.ts
  examples/blog-invoice-generator/src/pages/contacts/edit.tsx
  examples/blog-invoice-generator/src/pages/invoice/create.tsx
  examples/blog-invoice-generator/src/pages/invoice/edit.tsx
  examples/blog-issue-tracker/src/App.tsx
  examples/blog-issue-tracker/src/pages/task/edit.tsx
  examples/blog-issue-tracker/src/pages/task/index.tsx
  examples/blog-job-posting/src/App.tsx
  examples/blog-mail-subscription/src/App.tsx
  examples/blog-mail-subscription/src/authProvider.ts
  examples/blog-material-ui/src/App.tsx
  examples/blog-material-ui/src/authProvider.ts
  examples/blog-mui-datagrid/package.json
  examples/blog-mui-datagrid/src/App.tsx
  examples/blog-next-refine-pwa/package.json
  examples/blog-next-refine-pwa/pages/404.tsx
  examples/blog-next-refine-pwa/pages/[resource]/[action]/[id].tsx
  examples/blog-next-refine-pwa/pages/[resource]/[action]/index.tsx
  examples/blog-next-refine-pwa/pages/[resource]/index.tsx
  examples/blog-next-refine-pwa/pages/_app.tsx
  examples/blog-next-refine-pwa/pages/index.tsx
  examples/blog-ra-chakra-tutorial/package.json
  examples/blog-ra-chakra-tutorial/src/App.tsx
  examples/blog-ra-chakra-tutorial/src/authProvider.ts
  examples/blog-react-admin-mantine/package.json
  examples/blog-react-admin-mantine/src/App.tsx
  examples/blog-react-admin-mantine/src/authProvider.ts
  examples/blog-react-aria/src/App.tsx
  examples/blog-react-hook-dynamic-form/src/App.tsx
  examples/blog-refeedback/src/App.tsx
  examples/blog-refine-airtable-crud/src/App.tsx
  examples/blog-refine-antd-dynamic-form/src/App.tsx
  examples/blog-refine-filtering/src/App.tsx
  examples/blog-refine-react-hook-form/src/App.tsx
  examples/blog-refine-supabase-auth/src/App.tsx
  examples/blog-refineflix/src/App.tsx
  examples/blog-responsive-navbar/src/App.tsx
  examples/blog-responsive-navbar/src/components/Layout.tsx
  examples/blog-responsive-navbar/src/pages/categories/category.tsx
  examples/blog-responsive-navbar/src/pages/events/event.tsx
  examples/blog-responsive-navbar/src/pages/posts/post.tsx
  examples/blog-responsive-navbar/src/pages/users/user.tsx
  examples/blog-win95/src/App.tsx
  examples/blog-win95/src/components/layout/index.tsx
Labels: build examples, v4

#3799 feat(examples): add `<UnsavedChangesNotifier/>` to examples starts with "f"
  examples/field-antd-use-checkbox-group/src/App.tsx
  examples/field-antd-use-radio-group/src/App.tsx
  examples/field-antd-use-select-basic/src/App.tsx
  examples/field-antd-use-select-infinite/src/App.tsx
  examples/field-mui-use-autocomplete/src/App.tsx
  examples/finefoods-antd/src/App.tsx
  examples/finefoods-mui/src/App.tsx
  examples/form-antd-custom-validation/src/App.tsx
  examples/form-antd-use-drawer-form/src/App.tsx
  examples/form-antd-use-drawer-form/src/pages/posts/list.tsx
  examples/form-antd-use-form/src/App.tsx
  examples/form-antd-use-modal-form/src/App.tsx
  examples/form-antd-use-steps-form/src/App.tsx
  examples/form-chakra-ui-use-drawer-form/src/App.tsx
  examples/form-chakra-ui-use-form/src/App.tsx
  examples/form-chakra-use-modal-antd-form/src/App.tsx
  examples/form-core-use-form/src/App.tsx
  examples/form-mantine-use-drawer-form/src/App.tsx
  examples/form-mantine-use-form/src/App.tsx
  examples/form-mantine-use-modal-form/src/App.tsx
  examples/form-mantine-use-steps-form/src/App.tsx
  examples/form-mui-use-drawer-form/src/App.tsx
  examples/form-mui-use-form/src/App.tsx
  examples/form-mui-use-modal-form/src/App.tsx
  examples/form-mui-use-steps-form/src/App.tsx
  examples/form-react-hook-form-use-form/src/App.tsx
  examples/form-react-hook-form-use-modal-form/src/App.tsx
  examples/form-react-hook-form-use-steps-form/src/App.tsx
  examples/form-save-and-continue/src/App.tsx
Labels: build examples

#3798 fix(v4): mantine and chakra versions
  examples/auth-chakra-ui/package.json
  examples/auth-mantine/package.json
  examples/base-chakra-ui/package.json
  examples/base-mantine/package.json
  examples/blog-ecommerce/package.json
  examples/customization-theme-chakra-ui/package.json
  examples/customization-theme-mantine/package.json
  examples/form-chakra-ui-use-drawer-form/package.json
  examples/form-chakra-ui-use-form/package.json
  examples/form-chakra-use-modal-antd-form/package.json
  examples/form-mantine-use-drawer-form/package.json
  examples/form-mantine-use-form/package.json
  examples/form-mantine-use-modal-form/package.json
  examples/form-mantine-use-steps-form/package.json
  examples/import-export-mantine/package.json
  examples/inferencer-chakra-ui/package.json
  examples/inferencer-mantine/package.json
  examples/table-chakra-ui-advanced/package.json
  examples/table-chakra-ui-basic/package.json
  examples/table-mantine-advanced/package.json
  examples/table-mantine-basic/package.json
  examples/template-chakra-ui/package.json
  examples/template-mantine/package.json
  examples/tutorial-chakra-ui/package.json
  examples/tutorial-mantine/package.json
  examples/upload-chakra-ui-basic64/package.json
  examples/upload-chakra-ui-multipart/package.json
  examples/upload-mantine-base64/package.json
  examples/upload-mantine-multipart/package.json
  packages/chakra-ui/package.json
  packages/codemod/src/transformations/v4/separate-imports-mantine.ts
  packages/inferencer/package.json
  packages/inferencer/src/inferencers/mantine/__tests__/__snapshots__/index.test.tsx.snap
  packages/inferencer/src/inferencers/mantine/__tests__/__snapshots__/list.test.tsx.snap
  packages/live-previews/package.json
  packages/mantine/package.json
Labels: build examples

#3805 feat(v4): add default options to examples start with "c"
  examples/calendar-app/src/App.tsx
  examples/command-palette-kbar/src/App.tsx
  examples/core-use-import/src/App.tsx
  examples/core-use-menu/src/App.tsx
  examples/core-use-modal/src/App.tsx
  examples/core-use-select/src/App.tsx
  examples/customization-footer/src/App.tsx
  examples/customization-login/src/App.tsx
  examples/customization-offlayout-area/src/App.tsx
  examples/customization-rtl/src/App.tsx
  examples/customization-sider/src/App.tsx
  examples/customization-theme-antd/src/App.tsx
  examples/customization-theme-chakra-ui/src/App.tsx
  examples/customization-theme-mantine/src/App.tsx
  examples/customization-theme-mui/src/App.tsx
  examples/customization-top-menu-layout/src/App.tsx
Labels: build examples

#3809 feat(v4-examples): add options to examples start with "i" and "d"
  examples/data-provider-airtable/src/App.tsx
  examples/data-provider-appwrite/src/App.tsx
  examples/data-provider-hasura/src/App.tsx
  examples/data-provider-multiple/src/App.tsx
  examples/data-provider-nestjsx-crud/src/App.tsx
  examples/data-provider-nhost/src/App.tsx
  examples/data-provider-strapi-graphql/src/App.tsx
  examples/data-provider-strapi-v4/public/manifest.json
  examples/data-provider-strapi-v4/src/App.tsx
  examples/data-provider-strapi/public/manifest.json
  examples/data-provider-strapi/src/App.tsx
  examples/data-provider-supabase/src/App.tsx
  examples/i18n-nextjs/pages/_app.tsx
  examples/i18n-react/src/App.tsx
  examples/import-export-antd/src/App.tsx
  examples/import-export-mantine/src/App.tsx
  examples/import-export-mui/src/App.tsx
  examples/inferencer-antd/src/App.tsx
  examples/inferencer-chakra-ui/src/App.tsx
  examples/inferencer-headless/src/App.tsx
  examples/inferencer-mantine/src/App.tsx
  examples/inferencer-mui/src/App.tsx
  examples/input-custom/src/App.tsx
  examples/input-date-picker/src/App.tsx
Labels: build examples, v4

#3826 V4/add default options to examples start with "blog"
  documentation/blog/2023-03-07-react-dnd.md
  examples/blog-ecommerce/pages/_app.tsx
  examples/blog-hackathonize/src/App.tsx
  examples/blog-invoice-generator/src/App.tsx
  examples/blog-invoice-generator/src/pages/invoice/edit.tsx
  examples/blog-issue-tracker/src/App.tsx
  examples/blog-issue-tracker/src/pages/dashboard/index.tsx
  examples/blog-job-posting/src/App.tsx
  examples/blog-mail-subscription/src/App.tsx
  examples/blog-material-ui/src/App.tsx
  examples/blog-material-ui/src/pages/posts/edit.tsx
  examples/blog-mui-datagrid/src/App.tsx
  examples/blog-next-refine-pwa/pages/_app.tsx
  examples/blog-ra-chakra-tutorial/src/App.tsx
  examples/blog-react-admin-mantine/src/App.tsx
  examples/blog-react-aria/src/App.tsx
  examples/blog-react-dnd/package.json
  examples/blog-react-dnd/src/App.tsx
  examples/blog-react-dnd/src/components/cards.tsx
  examples/blog-react-dnd/src/components/columns.tsx
  examples/blog-react-dnd/src/components/constants/useData.ts
  examples/blog-react-dnd/src/contexts/index.tsx
  examples/blog-react-dnd/src/pages/dashBoardPage.tsx
  examples/blog-react-dnd/src/pages/posts/create.tsx
  examples/blog-react-dnd/src/pages/posts/edit.tsx
  examples/blog-react-dnd/src/pages/posts/list.tsx
  examples/blog-react-dnd/src/pages/posts/show.tsx
  examples/blog-react-hook-dynamic-form/package.json
  examples/blog-react-hook-dynamic-form/src/App.tsx
  examples/blog-refeedback/src/App.tsx
  examples/blog-refine-airtable-crud/package.json
  examples/blog-refine-airtable-crud/src/App.tsx
  examples/blog-refine-antd-dynamic-form/package.json
  examples/blog-refine-antd-dynamic-form/src/App.tsx
  examples/blog-refine-filtering/package.json
  examples/blog-refine-filtering/src/App.tsx
  examples/blog-refine-react-hook-form/package.json
  examples/blog-refine-react-hook-form/src/App.tsx
  examples/blog-refine-supabase-auth/src/App.tsx
  examples/blog-refineflix/src/App.tsx
  examples/blog-responsive-navbar/src/App.tsx
  examples/blog-win95/src/App.tsx
Labels: build examples, v4

#3868 chore: update GH actions versions
  .github/workflows/calibreapp-image-actions-dispatch.yml
  .github/workflows/calibreapp-image-actions.yml
  .github/workflows/examples-build.yml
  .github/workflows/master-push.yml
  .github/workflows/next-push.yml
  .github/workflows/pull-request-doc.yml
  .github/workflows/pull-request-previews.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/store-deploy.yml
Labels: build examples

#3920 build: fix build all examples action
  .github/workflows/examples-build.yml
  .github/workflows/master-push.yml
  .github/workflows/next-push.yml
  .github/workflows/pull-request-doc.yml
  .github/workflows/pull-request-previews.yml
  .github/workflows/pull-request.yml
  .github/workflows/push.yml
  .github/workflows/store-deploy.yml
  package.json
Labels: build examples

#3970 feat: add next-auth example
  documentation/docs/examples/next-js/next-auth.js.md
  examples/with-nextjs-next-auth/.gitattributes
  examples/with-nextjs-next-auth/.gitignore
  examples/with-nextjs-next-auth/LICENSE
  examples/with-nextjs-next-auth/README.MD
  examples/with-nextjs-next-auth/next-env.d.ts
  examples/with-nextjs-next-auth/next.config.js
  examples/with-nextjs-next-auth/package.json
  examples/with-nextjs-next-auth/pages/[...catchAll].tsx
  examples/with-nextjs-next-auth/pages/_app.tsx
  examples/with-nextjs-next-auth/pages/api/auth/[...nextauth].ts
  examples/with-nextjs-next-auth/pages/blog-posts/create/index.tsx
  examples/with-nextjs-next-auth/pages/blog-posts/edit/[id].tsx
  examples/with-nextjs-next-auth/pages/blog-posts/index.tsx
  examples/with-nextjs-next-auth/pages/blog-posts/show/[id].tsx
  examples/with-nextjs-next-auth/pages/index.tsx
  examples/with-nextjs-next-auth/pages/login.tsx
  examples/with-nextjs-next-auth/public/meta.json
  examples/with-nextjs-next-auth/src/constants.ts
  examples/with-nextjs-next-auth/src/styles/global.css
  examples/with-nextjs-next-auth/tsconfig.json
  examples/with-nextjs-next-auth/types/next-auth.d.ts
Labels: build examples

#3827 fix(react-table): useTable is adding an eq condition when I use a gte filter (#3824)
  .changeset/loud-rocks-pull.md
  packages/react-table/src/useTable/index.spec.ts
  packages/react-table/src/useTable/index.ts
Labels: build examples

#4042 fix: broken examples
  examples/pixels-admin/config-overrides.js
Labels: build examples
